{% extends "base.html" %}

{% block title %}{{ character.name }}{% endblock %}

{% block content %}

<div id="dnd">

  <div id="csheetInfo">
    <div>
      <h1>{{ character.name }}</h1>
    </div>
    <div>
      <p>Level {{ character.level }} {{ character.char_class }}</p>
    </div>
  </div>

  <div id="csheetStats">

    <div id="col1">
      <div id="abilities">
        <div class="abilityScore">
          <span class="abilityLabel statLabel">Strength</span>
          <span class="abilityInt">{{ character.strength }}</span>
          <span class="abilityMod">4</span>
        </div>
        <div class="abilityScore">
          <span class="abilityLabel statLabel">Dexterity</span>
          <span class="abilityInt">{{ character.dexterity }}</span>
          <span class="abilityMod">&nbsp;</span>
        </div>
        <div class="abilityScore">
          <span class="abilityLabel statLabel">Constitution</span>
          <span class="abilityInt">{{ character.constitution }}</span>
          <span class="abilityMod">4</span>
        </div>
        <div class="abilityScore">
          <span class="abilityLabel statLabel">Intelligence</span>
          <span class="abilityInt">{{ character.intelligence }}</span>
          <span class="abilityMod">&nbsp;</span>
        </div>
        <div class="abilityScore">
          <span class="abilityLabel statLabel">Wisdom</span>
          <span class="abilityInt">{{ character.wisdom }}</span>
          <span class="abilityMod">&nbsp;</span>
        </div>
        <div class="abilityScore">
          <span class="abilityLabel statLabel">Charisma</span>
          <span class="abilityInt">{{ character.charisma }}</span>
          <span class="abilityMod">&nbsp;</span>
        </div>
      </div>

      <div id="addlAbilities">
        <div id="inspiration" class="box-stat">
          <span class="bs-int"><p>[x]</p></span>
          <span class="bs-label"><p>Inspiration</p></span>
        </div>
        <div id="proficiency" class="box-stat">
          <span class="bs-int">[x]</span>
          <span class="bs-label">Proficiency Bonus</span>
        </div>

        <div class="box01">
          _ Strength<br>
          _ Dexterity<br>
          _ Constitution<br>
          _ Intelligence<br>
          _ Wisdom<br>
          _ Charisma<br>
          <b>SAVING THROWS</b>
        </div>

        <div class="box01">
          _ Acrobatics (Dex)<br>
          _ Successes<br>
          _ Animal Handling (Wis)<br>
          _ Arcana (Int)<br>
          _ Athletics (Str)<br>
          _ Deception (Cha)<br>
          _ History (Int)<br>
          _ Insight (Wis)<br>
          _ Intimidation (Cha)<br>
          _ Investigation (Int)<br>
          _ Medicine (Wis)<br>
          _ Nature (int)<br>
          _ Perception (Wis)<br>
          _ Performance (Cha)<br>
          _ Persuasion (Cha)<br>
          _ Religion (Int)<br>
          _ Sleight Of Hand (Dex)<br>
          _ Stealth (Dex)<br>
          _ Survival (Wis)<br>
          <b>SKILLS</b>
        </div>
      </div>
    </div>

    <div id="col2">
      <div id="battleStats">
        <div id="bs-main">
          <div id="armorClass">
            <span id="armorClassLabel">
              Armor Class
            </span>
            <span id="armorClassInt">
              X
            </span>
          </div>
          <div class="box">Initiative: X</div>
          <div class="box">Speed: X</div>
        </div>
      </div>

      <div class="box01">
        Max Hit Points: X<br>
        Current Hit Points: X<br>
        Temporary Hit Points: X<br>
      </div>
      <div class="box01">
        Total: X<br>
        Hit Dice: {{ character.char_class.hitDie }}
      </div>
      <div class="box01">
        Death Saves<br>
        Success: [] [] []<br>
        Failures: [] [] []
      </div>
    </div>

    <div id="col3">
     BLERG
    </div>

  </div>

</div>
{% endblock %}
