{% extends "pyrps/base.html" %}

{% load soundboard static %}

{% block title %}{% engine_title %}{% endblock %}

{% block content %}
<div id="soundboard"><!-- Start Content -->

<h1>{{ board.name }}</h1>

<div id="board">
  <div>
    <h2>SFX</h2>
    <div id="sfx">
      {% for s in board.sfx.all %}
      <div class="sfxTrack">
        <button class="sfxBtn" 
          onclick="sfxTrack{{ s.id }}.play();">
          <div class="sfxName">{{ s.name }}</div>
          <div id="sfx{{ s.id }}Display" class="sfxWave">
            <img class="waveIcon" src="{% static '/assets/img/sound.gif' %}">
          </div>
        </button>
      </div>
      {% endfor %}
    </div>
  </div>

  <div>
    <h2>Music</h2>
    <div id="music">
      {% for m in board.music.all %}
        <div class="musicTrack">
          <div class="trackInfo">
            <div>{{ m.name }}</div>
          </div>

          <div class="trackControls">
            <div class="tc1">
              <button id="music{{ m.id }}Play"
                class="play"
                onclick="playback(musicTrack{{ m.id }}, 'play');">
              </button>

              <button id="music{{ m.id }}Pause"
                class="pause" 
                onclick="playback(musicTrack{{ m.id }}, 'pause');">
              </button>

              <button id="music{{ m.id }}Stop"
                class="stop"
                onclick="playback(musicTrack{{ m.id }}, 'stop');">
              </button>
            </div>

            <div class="tc2">
              <button id="music{{ m.id }}VolDown"
                class="volDown"
                onclick="volumeAdjust(musicTrack{{ m.id }} ,'d');">
              </button>

              <div class="vol"></div>

              <button id="music{{ m.id }}VolUp"
                class="volUp"
                onclick="volumeAdjust(musicTrack{{ m.id }} ,'u');">
              </button>
              
              <div id="music{{ m.id }}volMeter" class="meter">
                <div id="music{{ m.id }}volBar"  class="level"></div>
              </div> 
            </div>

            <div class="tc3">
              <div id="music{{ m.id }}Display">
                <div id="music{{ m.id }}Playing" class="trackPlaying">
                   <img src="{% static '/assets/img/sound.gif' %}">
                </div>

                <div id="music{{ m.id }}Paused" class="trackPaused">Paused</div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  // SFX script loop
  // Create object for each sfx
  {% for s in board.sfx.all %}
    var sfxTrack{{ s.id }} = new Howl({
      src: ["{{ s.file.url }}"],
      onplay: function () {
        document.getElementById('sfx{{ s.id }}Display').style.display = 'inline';
      },
      onend: function () {
        document.getElementById('sfx{{ s.id }}Display').style.display = 'none';
      }
    });
  {% endfor %}


  // Music script loop
  // Create object for each music track
  {% for m in board.music.all %}
    var musicTrack{{ m.id }} = new Howl({
      src: ["{{ m.file.url }}"]
    });
    musicTrack{{ m.id }}.name = "{{ m.name }}"
    musicTrack{{ m.id }}.id = "{{ m.id }}"
  {% endfor %}

  // Fade out music track
  function fadeOut(sound) {
    var getVol = getVolLevel(sound);
    sound.fade(getVol, 0, 1200);
    // Wait for track to fade then stop track and reset volume level
    setTimeout(function(){
      sound.stop();
      sound.volume(getVol);
    }, 2200);
  }

  // Get current volume level
  function getVolLevel(sound) {
    return sound.volume()
  }


  // Playback control
  function playback(sound, opt){
    if (opt == 'play'){
      togglePause(sound, 'inline');
      togglePlay(sound, 'none');
      toggleDisplay(sound, opt);
      sound.play()
    } else if (opt == 'pause'){
      togglePause(sound, 'none');
      togglePlay(sound, 'inline');
      toggleDisplay(sound, opt);
      sound.pause()
    } else if (opt == 'stop'){
      togglePause(sound, 'none');
      togglePlay(sound, 'inline');
      toggleDisplay(sound, opt);
      fadeOut(sound);
      
    }
  }
  
  function togglePause(sound, display) {
    document.getElementById('music'+sound.id+'Pause').style.display = display;
  }

  function togglePaused(sound, display) {
    document.getElementById('music'+sound.id+'Paused').style.display = display;
  }

  function togglePlay(sound, display) {
    document.getElementById('music'+sound.id+'Play').style.display = display;
  }

  function togglePlaying(sound, display) {
    document.getElementById('music'+sound.id+'Playing').style.display = display;
  }

  function toggleDisplay(sound, opt) {
    if (opt == 'play'){
      togglePaused(sound, 'none');
      togglePlaying(sound, 'inline');
      sound.play()
    } else if (opt == 'pause'){
      togglePaused(sound, 'inline');
      togglePlaying(sound, 'none');
      sound.pause()
    } else if (opt == 'stop'){
      togglePaused(sound, 'none');
      togglePlaying(sound, 'none');
      fadeOut(sound);
    }
  }

  // Volume Control
  function volumeAdjust(sound, opt) {
    stepDec = 0.2
    var getVol = getVolLevel(sound)
    if (opt == 'u') {
      var step = getVol+stepDec
    } else if (opt == 'd') {
      var step = getVol-stepDec
    }
    var step = Math.round(step*100)/100
    if (step < 0) {
      step = 0
    } else if (step > 1) {
      step = 1
    }
    sound.volume(step)
    volMeter(sound)
  }

  function volMeter(sound) {
    var currentVol = sound._volume
    currentVol = currentVol*100
    volPercent = currentVol+'%'
    document.getElementById('music'+sound.id+'volBar').style.height = volPercent;
  }
</script>

</div><!-- End Content -->
{% endblock %}

{% block sidebar %}
  {% include 'smb/sidebar_default.html' %}
{% endblock %}
