{% extends "main/base.html" %}

{% load dnd5 %}

{% block title %}Characters{% endblock %}

{% block content %}

<section>
  <div class="sectionHeader">
    <div><h1>Characters</h1></div>

    <div class="sectionMenu">
      <ul>
        <li><a href="{% url 'dnd5:add_char' %}">Add</a></li>
      </ul>
    </div>
  </div>

  <div id="characters">
    {% for c in characters %}
      <table class="char-card">
        <tbody>
          <tr>
            <td colspan="2" class="avatar">
              <a href="{% url 'dnd5:character_sheet' c.charid %}">
                <img src="{% if c.avatar %}{{ c.avatar.url }}{% else %}{% default_avatar_url %}{% endif %}">
              </a>
            </td>
          </tr>
          <tr>
            <th colspan="2" class="name">{{ c.name }}</th>
          </tr>

          <tr>
            <td>LVL {{ c.level }}</td>
            <td class="right">{{ c.cclass.name }}</td>
          </tr>
          <tr>
            <th>STR</th>
            <td class="right">
              {{ c.strength }} [{% ability_modifier c.strength %}]
            </td>
          </tr>
          <tr>
            <th>DEX</th>
            <td class="right">
              {{ c.dexterity }} [{% ability_modifier c.dexterity %}]
            </td>
          </tr>
          <tr>
            <th>CON</th>
            <td class="right">
              {{ c.constitution }} [{% ability_modifier c.constitution %}]
            </td>
          </tr>

          <tr>
            <th>INT</th>
            <td class="right">
              {{ c.intelligence }} [{% ability_modifier c.intelligence %}]</td>
          </tr>
          <tr>
            <th>WIS</th>
            <td class="right">
              {{ c.wisdom }} [{% ability_modifier c.wisdom %}]</td>
          </tr>
          <tr>
            <th>CHA</th>
            <td class="right">
              {{ c.charisma }} [{% ability_modifier c.charisma %}]</td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  </div>
</section>

{% endblock %}


{% block sidebar %}
  {% include 'dnd5/sidebar.html' %}
{% endblock %}