{% extends "main/base.html" %}
{% load dnd5 static %}
{% block title %}{{ character.name }}{% endblock %}
{% block content %}  

<div id="csheet">
  <div id="hdr">
    <section>
       <a href="{% url 'dnd5:edit_char' character.charid %}">
        <img class="avatar" src="{% if character.avatar %}{{ character.avatar.url }}{% else %}{% default_avatar_url %}{% endif %}">
      </a>
    </section>

    <section>
      <div>{{ character.name }} {{ character.hit_points }}</div>

      <div>Lvl. {{ character.level }} {{ character.race.name }} {{ character.cclass.name }} {{ character.str_mod }}</div>
    </section>
  </div>
  
  <div class="columns">
    <section id="main-stats" class="third">
      <div id="abilities">
        <div class="ability">
          <div class="ability-name">STR</div>
          <div class="ability-modifier">
            {{ character.strength_mod }}
          </div>
          <div class="ability-score">
            {{ character.strength }}
          </div>
        </div>

        <div class="ability">
          <div class="ability-name">DEX</div>
          <div class="ability-modifier">
            {{ character.dexterity_mod }}
          </div>
          <div class="ability-score">
            {{ character.dexterity }}
          </div>
        </div>

        <div class="ability">
          <div class="ability-name">CON</div>
          <div class="ability-modifier">
            {{ character.constitution_mod }}
          </div>
          <div class="ability-score">
            {{ character.constitution }}
          </div>
        </div>

        <div class="ability">
          <div class="ability-name">INT</div>
          <div class="ability-modifier">
            {{ character.intelligence_mod }}
          </div>
          <div class="ability-score">
            {{ character.intelligence }}
          </div>
        </div>

        <div class="ability">
          <div class="ability-name">WIS</div>
          <div class="ability-modifier">
            {{ character.wisdom_mod }}
          </div>
          <div class="ability-score">
            {{ character.wisdom }}
          </div>
        </div>

        <div class="ability">
          <div class="ability-name">CHA</div>
          <div class="ability-modifier">
            {{ character.charisma_mod }}
          </div>
          <div class="ability-score">
            {{ character.charisma }}
          </div>
        </div>
      </div>

      <div id="general-stats">
        {% if character.inspiration %}
        <div class="stat-field-01">
          <div>{{ character.inspiration }}</div>
          <div>Inspiration</div>
        </div>
        {% endif %}
        <div class="stat-field-02">
          <div>{{ character.proficiency_bonus }}</div>
          <div>Proficiency Bonus</div>
        </div>
      </div>
    </section>

    <div id="combat-stats">
      <section id="armor-class">
        <div>
        {% if character.armor_id %}
          {{ character.armor.armor_class }}
        {% else %}
          0
        {% endif %}
        </div>

        <div>Armor<br>Class</div>
      </section>

      <section id="speed">{{ character.race.speed }} ft.<br>Speed</section>

      <section>{{ character.hit_points }}</section>

    </div>

    <section class="third">
      &nbsp;
    </section>
  
  </div>
</div>

<h4>Equipment</h4>
<ul>
  {% if character.weapon_main_id %}
  <li>
    {{ character.weapon_main.name }}
  </li>
  {% endif %}

  {% if character.weapon_secondary_id %}
  <li>
    {{ character.weapon_secondary.name }}
  </li>
  {% endif %}

  {% if character.armor_id %}
  <li>
    {{ character.armor.name }} 
  </li>
  {% endif %}

  {% if character.shield_id %}
  <li>
    {{ character.shield.name }} 
  </li>
  {% endif %}
</ul>

{% if character.bio %}
  <h4>Bio</h4>
  <div>{{ character.bio }}</div>
{% endif %}

{% endblock %}