{% extends "base.html" %}

{% block title %}{{ character.name }}{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
{% endfor %}

<form method="post">
  <label for="name">Name</label>
  <br>
  <input type="text" name="name" placeholder="Character Name" value="{{ request.form['name'] }}"></input>
  <br>

  <label for="level">LVL</label>
  <br>
  <input type="text" name="level" placeholder="" value="{{ request.form['level'] }}"></input>
  <br>

  <label for="char_class">Class</label>
  <br>
  <input type="text" name="char_class" placeholder="" value="{{ request.form['char_class'] }}"></input>
  <br>

  <label for="strength">Strength</label>
  <br>
  <input type="text" name="strength" placeholder="" value="{{ request.form['strength'] }}"></input>
  <br>

  <label for="dexterity">Dexterity</label>
  <br>
  <input type="text" name="dexterity" placeholder="" value="{{ request.form['dexterity'] }}"></input>
  <br>

  <label for="constitution">Constitution</label>
  <br>
  <input type="text" name="constitution" placeholder="" value="{{ request.form['constitution'] }}"></input>
  <br>
  <button type="submit">Submit</button>
</form>

{% endblock %}
