{% load static helpers %}
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock %} | {% appName %}</title>
</head>


  <body>

  <div id="site-header" class="container no-print" role="banner">
    <header class="columns">
      <div class="column">
        <a class="site-title" rel="author" href="/"><img src="{% static 'images/dice-icon-32.png' %}"> {% appName %}</a>
      </div>


      <div class="column">
          <nav class="site-nav u-pull-right">

            <div class="trigger">
              <ul>
                 <li><a class="page-link" href="{% url 'cmanager:home' %}">Rules</a></li>
                 <li><a class="page-link" href="{% url 'cmanager:players' %}">Players</a></li>
                 <li><a class="page-link" href="{% url 'cmanager:mechs' %}">Mechs</a></li>
                 <li><a class="page-link" href="{% url 'cmanager:mech_classes' %}">Classes</a></li>
                 <li><a class="page-link" href="{% url 'campaign:home' %}">Campaigns</a></li>
              </ul>
            </div>
          </nav>
      </div>
    </header>
  </div>


    <main class="page-content container" aria-label="Content">
      <div class="columns">
        <div class="column">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </main>

    <footer></footer>

  </body>

</html>
