{% extends "cmanager/base.html" %}

{% block title %}Mech Classes{% endblock %}

{% block content %}

<table>
  <thead>
    <th>Name</th>
    <th>STR</th>
    <th>DEF</th>
    <th>DEX</th>
    <th>END</th>
    <th>POT</th>
    <th>SHD</th>
    <th>SKL</th>
  </thead>
  <tbody>
  {% for m in mech_classes %}
    <tr>
      <td><a href="/admin/cmanager/mechclass/{{ m.id }}/change/">{{ m.name }}</a></td>
      <td>{{ m.base_strength }}</td>
      <td>{{ m.base_defense }}</td>
      <td>{{ m.base_dexterity }}</td>
      <td>{{ m.base_endurance }}</td>
      <td>{{ m.base_potions }}</td>
      <td>{{ m.base_shields }}</td>
      <td>{{ m.base_skill_points }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block sidebar %}

{% endblock %}