{% extends "cmanager/base.html" %}

{% block content %}
<h1>{% block title %}How to Play{% endblock %}</h1>

<h2>Overview<a href="#overview" title="Permanent link"></a></h2>
<p>2+ Players / Turn-Based / 4+ Six-sided Dice</p>
<ul>
<li>Rank is assigned to the Pilot and is independent of Mechs.</li>
<li>Each Pilot is awarded 1 Rank Point per battle completed. The winner gains an additional Rank Point.</li>
<li>Before battle, additional Rank Points may be distributed as additional Stat, Provision, or HP (1 RP = 100 HP) bonuses.</li>
<li>For new Mechs, total player Rank Points can be distributed as modifiers.</li>
<li>Base class stats: No. of dice rolled for action.</li>
<li>Modifier: amount added to roll.</li>
</ul>
<h3>Stats<a href="#stats" title="Permanent link"></a></h3>
<table>
<thead>
<tr>
<th align="left">Stat</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">HP</td>
<td align="left">Hit Points</td>
</tr>
<tr>
<td align="left">RNK</td>
<td align="left">Player Ranking</td>
</tr>
<tr>
<td align="left">STR</td>
<td align="left">Strength: Melee Attack Bonus</td>
</tr>
<tr>
<td align="left">DEF</td>
<td align="left">Defense: Heavy Attack Bonus</td>
</tr>
<tr>
<td align="left">DEX</td>
<td align="left">Dexterity: Ranged Attack Bonus</td>
</tr>
</tbody>
</table>
<h3>Provisions<a href="#provisions" title="Permanent link"></a></h3>
<table>
<thead>
<tr>
<th align="left">Item</th>
<th align="left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">SKL</td>
<td align="left">SKill Points</td>
</tr>
<tr>
<td align="left">ENP</td>
<td align="left">Energy Potions</td>
</tr>
<tr>
<td align="left">SHD</td>
<td align="left">Shield Power</td>
</tr>
</tbody>
</table>
<h2>On Each Turn<a href="#on-each-turn" title="Permanent link"></a></h2>
<p>Player chooses action at start of turn, Attack: Skill, or Energy Potion. Turn ends after action.</p>
<h3>Attacks<a href="#attacks" title="Permanent link"></a></h3>
<ul>
<li>Pilot rolls 1d6 per Stat<ul>
<li>If opposing mech has specialty in Saving Throw stat, opposing pilot is allowed a 1d6 Saving Throw.</li>
<li>Saving Throw is successful if Roll ≥5.</li>
</ul>
</li>
<li>Special Attacks allow an additional 1d6 and consume one skill point.</li>
<li>Normal Attacks consume one (1) Shield Point, Special Attacks consume two (2) Shield Points.</li>
<li>Heavy Attacks that deal Critical damage can disarm opponent and/or remove armor shards from Mech:<ul>
<li>No. of armor shards removed = Strength Stat.</li>
<li>Each armor shard removed = -20 HP</li>
</ul>
</li>
<li>If opponent is shielded (≥1 Shield Point), attack damage is reduced by 50%.</li>
<li>Attack damage = (Roll + Modifier) x 10</li>
<li>Critical damage = Attack Damage ≥ Stat x 5</li>
<li>Attacking ends the Pilot&rsquo;s turn.</li>
</ul>
<table>
<thead>
<tr>
<th align="left">Attack Type</th>
<th align="left">Stat</th>
<th align="left">Saving Throw</th>
</tr>
</thead>
<tbody>
<tr>
<td align="left">Melee</td>
<td align="left">STR</td>
<td align="left">Dodge (DEX), Block (DEF)</td>
</tr>
<tr>
<td align="left">Heavy</td>
<td align="left">DEF</td>
<td align="left">Counter (STR), Evade (DEX)</td>
</tr>
<tr>
<td align="left">Ranged</td>
<td align="left">DEX</td>
<td align="left">Shield (DEF), Deflect (STR)</td>
</tr>
</tbody>
</table>
<h3>Skills<a href="#skills" title="Permanent link"></a></h3>
<ul>
<li>Consumes one Skill Point. Only one Skill Point can be spent per turn.<ul>
<li><strong>Special Attack:</strong> Allows for an additional 1d6 on attack, may include additional status effects. Ends Pilot&rsquo;s turn.</li>
<li><strong>Perk:</strong> Any effects are applied immediately, player may resume turn.</li>
</ul>
</li>
</ul>
<h3>Energy Potions<a href="#energy-potions" title="Permanent link"></a></h3>
<p>Player chooses potion effect at start of turn:</p>
<ul>
<li><strong>Heal:</strong> Mech restores 100 HP.</li>
<li><strong>Augment:</strong> Pilot may augment their mech from any available scrap and restore Shield Power.</li>
<li><strong>Replenish:</strong> Mech restores Skill Points.</li>
</ul>

{% endblock %}

{% block sidebar %}

{% endblock %}