{% extends "cmanager/base.html" %}

{% load static helpers %}

{% block title %}{{ mech.name }}{% endblock %}

{% block content %}
<div class="columns">
	<div class="is-one-third column">
		<h2 class="title is-2">{{ mech.name }}</h2>
		<!-- <p>Attack Damage: {{ mech.melee_attack_min }}-{{ mech.melee_attack_max }}</p> -->
	</div>

	<div class="is-one-third column">
		<p>{{ mech.mech_class }} / HP: {{ mech.hitpoints }}</p>
	</div>

	<div class="is-one-third column">
		<p>Pilot: {{ mech.pilot }} / Rank: {{ mech.pilot.rank }}</p>
		{% if mech.available_skill_points > 0 %}<p>Available Skill Points: {{ mech.available_skill_points }}</p>{% endif %}
		{% if mech.available_skill_points < 0 %}<p>Too Many Skill Points! [{{ mech.available_skill_points }}]</p>{% endif %}
	</div>
</div>

<div class="columns">
	<div class="column"><hr></div>
</div>

<div class="columns">
	<div class="is-half column">
		<table class="table is-fullwidth">
			<tr>
				<th>STRENGTH</th>
				<td>{% for s in mech.strength_range %}{% baseStat %} {% endfor %}</td>
				<td>{% if mech.mod_strength %}+{{ mech.mod_strength }}{% endif %}</td>
			</tr>
			<tr>
				<th>DEFENSE</th>
				<td>{% for s in mech.defense_range %}{% baseStat %} {% endfor %}</td>
				<td>{% if mech.mod_defense %}+{{ mech.mod_defense }}{% endif %}</td>
			</tr>
			<tr>
				<th>DEXTERITY</th>
				<td>{% for s in mech.dexterity_range %}{% baseStat %} {% endfor %}</td>
				<td>{% if mech.mod_dexterity %}+{{ mech.mod_dexterity }}{% endif %}</td>
			</tr>
		</table>
	</div>

	<div class="is-half column">
		<table class="table is-fullwidth">
			<tr>
				<th>POTIONS</th>
				<td>{% for s in mech.potions_range %}{% potion %} {% endfor %}</td>
			</tr>
			<tr>
				<th>SHIELDS</th>
				<td>{% for s in mech.shields_range %}{% shield %} {% endfor %}</td>
			</tr>
			<tr>
				<th>SKILL<br>POINTS</th>
				<td>{% for s in mech.skill_points_range %}{% skill %} {% endfor %}</td>
			</tr>
		</table>
	</div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}