<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %} | {{ APPTITLE }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.min.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
</head>

<body>

<div id="page">
  <header>
    <div id="siteTitle">
      <span id="siteLogo">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='assets/img/siteLogo.svg') }}">
        </a>
      </span>
    </div>

    <nav>
      <ul>
        
        <li><a href="{{ url_for('index') }}">Characters</a></li>
        <li><a href="{{ url_for('index') }}">Classes</a></li>
      </ul>
    </nav>

    <div id="engLogo">
      <img src="{{ url_for('static', filename=ENG_LOGO) }}">
    </div>
  </header>
  <article id="content">
    {% block content %}{% endblock %}
  </article>
</div>

</body>

</html>