{% extends "pyrps/base.html" %}

{% load smb %}

{% block title %}{% engine_title %}{% endblock %}

{% block content %}

<section>
  <h1>{% engine_title %}</h1>

  <div id="home">
    <h2>Characters</h2>
    <table class="list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody>
      {% for m in latest_mechs %}
        <tr>
          <td><a href="{% url 'smb:dossier' m.mech_id %}">{{ m.name }}</a></td>
          <td>{{ m.rank }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}