{% extends "pyrps/base.html" %}

{% load helpers %}

{% block title %}Weapons{% endblock %}

{% block content %}

<h1>Armor</h1>

<table id="list">
  <thead>
    <th>Name</th>
    <th>Category</th>
    <th>AC</th>
    <th>Cost</th>
    <th>Weight</th>
  </thead>
  <tbody>
  {% for a in armor %}
    <tr>
      <td><a href="">{{ a.name }}</a></td>
      <td>{{ a.get_category_display }}</td>
      <td>{{ a.armor_class }}</td>
      <td>{% if a.cost %}{{ a.cost }}{% endif %}</td>
      <td>{% if a.weight %}{{ a.weight }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block sidebar %}
  {% include 'dnd5/sidebar.html' %}
{% endblock %}