{% extends "pyrps/base.html" %}

{% load helpers %}

{% block title %}Characters{% endblock %}

{% block content %}

<section>
  <div class="sectionHeader">
    <div><h1>Characters</h1></div>

    <div class="sectionMenu">
      <ul>
        <li><a href="{% url 'dnd5:index' %}">Add</a></li>
      </ul>
    </div>
  </div>

  <div id="characters">
    {% for c in characters %}
      <table class="charCard">
        <tbody>
          <tr>
            <td colspan="2">
              <a href="{% url 'dnd5:csheet' c.id %}">
                <img class="avatar" src="{% if c.avatar %}{{ c.avatar.url }}{% else %}{% default_avatar_url %}{% endif %}">
              </a>
            </td>
          </tr>
          <tr>
            <th colspan="2">{{ c.name }}</th>
          </tr>

          <tr>
            <th>Char. ID</th>
            <td class="right">
              {{ c.charid }}
            </td>
          </tr>

          <tr>
            <th>Class</th>
            <td class="right">{{ c.cclass.name }}</td>
          </tr>
          <tr>
            <th>LVL</th>
            <td class="right">{{ c.level }}</td>
          </tr>
          <tr>
            <th>STR</th>
            <td class="right">
              {{ c.strength }} [{% stat_mod 'STR' c.cclass.primary %}]
            </td>
          </tr>
          <tr>
            <th>DEX</th>
            <td class="right">
              {{ c.dexterity }} [{% stat_mod 'DEX' c.cclass.primary %}]
            </td>
          </tr>
          <tr>
            <th>CON</th>
            <td class="right">
              {{ c.constitution }} [{% stat_mod 'CON' c.cclass.primary %}]
            </td>
          </tr>

          <tr>
            <th>INT</th>
            <td class="right">
              {{ c.intelligence }} [{% stat_mod 'INT' c.cclass.primary %}]</td>
          </tr>
          <tr>
            <th>WIS</th>
            <td class="right">
              {{ c.wisdom }} [{% stat_mod 'WIS' c.cclass.primary %}]</td>
          </tr>
          <tr>
            <th>CHA</th>
            <td class="right">
              {{ c.charisma }} [{% stat_mod 'CHA' c.cclass.primary %}]</td>
          </tr>
          <tr>
            <td class="right" colspan="2">
              <a href="{% url 'dnd5:editChar' c.id %}">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  </div>
</section>

{% endblock %}


{% block sidebar %}
  {% include 'dnd5/sidebar.html' %}
{% endblock %}