{% extends "pyrps/base.html" %}

{% load helpers %}

{% block title %}Classes{% endblock %}

{% block content %}

<h1>Classes</h1>

<table class="list">
  <thead>
    <th>Class</th>
    <th>Hit Die</th>
    <th>Primary Stat</th>
    <th>Stat Proficiency</th>
    <th>Armor/Weapon Proficiency</th>
  </thead>
  <tbody>
  {% for c in classes %}
    <tr>
      <td><a href="{% url 'dnd5:viewClass' c.id %}">{{ c.name }}</a></td>
      <td>{{ c.hit_die }}</td>
      <td>{{ c.primary }}</td>
      <td>{{ c.stp }}</td>
      <td>{{ c.awp }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block sidebar %}
  {% include 'dnd5/sidebar.html' %}
{% endblock %}