{% extends "pyrps/base.html" %}

{% load helpers %}

{% block title %}Characters{% endblock %}

{% block content %}

<section>
  <h1>D&D: 5e</h1>

  

  <div id="home">
    <div id="latest_characters">
      <h2>Latest Characters</h2>
      <table class="list">
        <tbody>
        {% for c in latest_characters %}
          <tr>
            <td>{{ c.name }}</td>
            <td>LVL {{ c.level }} {{ c.cclass.name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  

    <div id="latest_classes">
      <h2>Latest Classes</h2>
      <table class="list">
        <tbody>
        {% for c in latest_classes %}
          <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.primary }}</td>
            <td>{{ c.stp }}</td>
            <td>{{ c.source }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}


{% block sidebar %}
  {% include 'dnd5/sidebar.html' %}
{% endblock %}