{% extends "pyrps/base.html" %}

{% block title %}{{ APPTITLE }}{% endblock %}

{% block content %}

<h1>{{ APPTITLE }}</h1>

<div>
  <div>
    <h2>D&D: 5th Edition</h2>
    <ul>
      <li>
        <a href="{{ url_for('dnd5.index') }}">Characters</a>
      </li>
    </ul>
  </div>

  <div>
    <h2>GURPS: 4th Edition</h2>
    <ul>
      <li>
        <a href="{{ url_for('gurps4.index') }}">Characters</a>
      </li>
    </ul>
  </div>

  <div>
    <h2>RPG Maker 2000</h2>
    <ul>
      <li>
        <a href="{{ url_for('rpgm2k.index') }}">Characters</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}
